*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider{
   width: 95;
   margin: lef;
   overflow: hidden;
  
}
.slider h2 {
  color: #000000;
}
.cards-banner-one p
{
  text-align: right;
}
.slider ul
{
  display: flex;
   padding: 0;
   width: 450%;
   animation: cambio 20s infinite alternate;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 50%;
  
}
@keyframes cambio
{
  0%{margin-left: 0;}
  20% {margin-left: 0;}

  25%{margin-left: -100% ;}
  45%{margin-left: -100%;}

  50%{margin-left: -200% ;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}








.news-cards01  h2  {
  color: #000000;
}
.news-cards01  p {
  color: #000000;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
 font-family: 'Oswald', sans-serif
}
a {
  color: #000000;
  text-decoration: none;
}
ul
{
  list-style: none;
}
.social p {
  color: #000000;
}
.container {
  width: 90%;
  margin: auto;
}

.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}
.nav-brand {
  width: 50px;
}
/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 6px;
}
.nav-main ul li a:hover {
  border-bottom: 2px solid #000000;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}


hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  color: #000000;
  
}

.showcase {
width: 100%;
height: 550px;
background: url("./img/fond.jpg") no-repeat center center/cover;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: flex-end;
padding-bottom: 50px;
margin-bottom: 20px;
color: #fff;
}

.showcase p{
  color: #fff;
  font-size: 150%;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}
.btn:hover {
  opacity: 0.9;
}

.showcase h2 
{   
  color: #fff;
  font-size: 450%;
  margin-bottom: 10px;
}
.showcase p {
margin-bottom: 10px;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.news-cards img {
  width: 100%;
  height: 180px;
}
.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #000000;
}
.news-cards p{
  color: #000000;
}

.news-cards a {
  padding: 10px 0;
  color: #000000;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
/* CARDS BANNER ONE */
.cards-banner-one {
  
  width: 100%;
  height: 350px;
  background: url("./img/FONDO5.jpg");
  margin-bottom: 40px;
}
.cards-banner-one h2{
  color: #fff;
}

/* CARDS BANNER ONE * lo llama y dice donde quiere q este exito*/
.cards-banner-one .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}
.cards-banner-one p,
.cards-banner-two p {
margin: 10px 0 20px 0;
 align-items: center;
text-align: center;
color: #000000;
}
.cards-banner-two h2 {
  color: #fff;
}

/* CARDS BANNER TWO*/
.cards-banner-two {
  width: 100%;
  height: 350px;
  background: url("./img/alimentos-ricos-proteinas-bajos-grasas.jpg") no-repeat center center/cover;
  margin-bottom: 40px;
}
.cards-banner-two p {
  text-align: center;
}

.cards-banner-two .content {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.footer-container a
{
  color: #ffffff;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

/* Mobil */
/* confi del menu*/
@media (max-width: 700px) {

  .nav-main ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #2f3640;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
      
    }
    .nav-main ul.nav-menu.show {
      transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li {
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
      margin-right: 50px;
    }
      /* 2 a 4 content*/
    .news-cards {
      grid-template-columns: repeat(2, 1fr);
    }
     /* reduce el tamaño del content*/
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 80%;
    }
  }

 